
// De todas formas, existen unos breakpoints estandarizados que debemos de tener en cuenta:

// Móviles: entre 320 y 480 píxeles.
// Tablets: entre 768 y 1024 píxeles.
// Pantallas grandes: más de 1200 píxeles.

// |  =====================================================  |
// |  ============  Media queries breakpoints  ============  |
// |  =====================================================  |
//
// 
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Screen / phone
@screen_phone:                  						320px;
@screen_phone_sm: 										375px;
@screen_phone_md: 										425px;
@screen_phone_lg: 										482px;


// Screen / tablet
@screen_tablet: 										600px;
@screen_tablet_sm: 										720px;
@screen_tablet_md: 										768px;
@screen_tablet_lg: 										800px;
@screen_tablet_xlg: 									1024px;


// Screen / desktop
@screen_desktop: 										1200px;
@screen_desktop_sm: 									1024px;
@screen_desktop_md: 									1280px;
@screen_desktop_lg: 									1440px;
@screen_desktop_xlg: 									1600px;

// Screen / watch
@screen_watch: 											218px;
@screen_watch_m: 										256px;











