

body #wrap {
	background: white;
}

// |  ============== Apartado de imagen de inicio   ================  |
.jumbotron {
	padding-top: 0px !important;
}
.jumbotron .fondo_negro_transparente{
	background:rgba(0,0,0,0.5);
	padding: 90px 30px;
	width: 100%;
	height: inherit;
}
// Titulo de inicio
body .text-epsilon {
    color: #0949A7;
	font-size: 93px;
    font-weight: 600;
}
body .text-gray-lighter {
	color: #eeeeee;
	font-size: 45px;
}

// .btn.btn-warning.btn-lg.o_default_snippet_text{
// 	background-color: white !important;
// 	color: #033EB4;
// 	border: 2px solid #033EB4;
// 	outline: 1px solid lightblue !important;
// 	font-size: 30px;
//     padding: 15px 45px;
//     &:hover {
//     	background-color: #033EB4 !important;
// 		color: white;
//     }
// }

.container title.titlo_hola {
	color: #999 !important;
}

//  Apartado de modulos desarrollados
.row.titulo_sections_row {
    padding: 20px;
}
span.titulo_sections {
    font-size: 37px;
}
.oe_card > img {
	width: 65%;
}


// BTN Más modulos
.btn_units {
	background: #E4E4E4;
	text-align: center;
    padding: 15px;
    font-size: 20px;
    > a {
    	color: #999;
		&:hover, &:visited {
			text-decoration: none;
		}
    }
    &:hover {
		background: #BBB;
		> a {
    		color: white;
		}
    }
}



// |  =============  Socios ============
.parents_content {
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 10px;
}
.img_parents {
	width: 55%;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	&:hover {
		transform: translateY(-5px);
		transition: all 0.3s ease-in-out 0s;
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}


@media (max-width: 770px){
	body .text-epsilon {
		font-size: 75px;
	}
	body .text-gray-lighter { font-size: 35px; }
}