


//  OE_CARD =======
.oe_card {
	display: block;
	padding: 4px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: border 0.2s ease-in-out;
	-o-transition: border 0.2s ease-in-out;
	transition: border 0.2s ease-in-out;

	> img {
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		width: 65%;
	}
}
.oe_card_content h3 {
	padding-left: 10px;
}
.oe_card_content .oe_card-body {
	padding: 9px;
	color: #333333;
	margin-top: 15px;
	position: relative;
	z-index: 4;

}
.oe_card_content .oe_card-footer {
	padding: 10px;
}