


// | =================================================================== |
// | ============================  TAMAÑOS  ============================ |
// | =================================================================== |



@font_size_base: 											11px;
@font_size_small: 											ceil((@font_size_base * 1.03)); // ~12px
@font_size_mediumSmall: 									ceil((@font_size_base * 1.2)); // ~14px
@font_size_medium: 											ceil((@font_size_base * 1.4)); // ~16px
@font_size_large: 											ceil((@font_size_base * 1.6)); // ~18px

@font_size_h1: 												floor((@font_size_base * 3.3)); // ~36px
@font_size_h2: 												floor((@font_size_base * 2.8)); // ~30px
@font_size_h3: 												ceil((@font_size_base * 2.1)); // ~24px
@font_size_h4: 												ceil((@font_size_base * 1.6)); // ~18px
@font_size_h5: 												ceil(@font_size_base * 1.2);
@font_size_h6: 												ceil((@font_size_base * 1.03)); // ~12px



// |  =============== Font Navbar ================  |

@parallax_img_height: 										220px;

@font_size_h1_title: 										@font_size_h1 * 2;





// | =================================================================== |
// | ============================  COLORES  ============================ |
// | =================================================================== |



@color_azul_logo_oscuro:		#002683;
@color_azul_logo_claro:			rgb(82, 172, 222); //#52acde;



// Color morado:   rgb(74,24,99)
@color_morado: 												#4a1863;

// Color verde:  rgb(140,190,47)
@color_verde: 												#8cbe2f;


// Color Amarillo:    rgb(249,183,48)
@color_amarillo: 											#f9b730;


// $color_background_navbar: 				rgba(0,0,0,0.8);

@color_rojo_natural: 										red;
@color_rojo: 												#DF0101;





